<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,666},{339,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,158}}</string>
                <key>sourceSize</key>
                <string>{339,158}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{195,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,348}}</string>
                <key>sourceSize</key>
                <string>{195,348}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{252,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,401}}</string>
                <key>sourceSize</key>
                <string>{252,401}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,263},{241,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,363}}</string>
                <key>sourceSize</key>
                <string>{241,363}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,931},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,222},{39,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,198}}</string>
                <key>sourceSize</key>
                <string>{39,198}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,856},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{127,13}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{127,13}}</string>
                <key>sourceSize</key>
                <string>{133,13}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,263},{388,80}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,2},{388,80}}</string>
                <key>sourceSize</key>
                <string>{452,86}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,259}}</string>
                <key>sourceSize</key>
                <string>{565,259}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,653},{280,107}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,107}}</string>
                <key>sourceSize</key>
                <string>{286,107}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{158,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,218}}</string>
                <key>sourceSize</key>
                <string>{158,218}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,628},{301,135}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,135}}</string>
                <key>sourceSize</key>
                <string>{301,139}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,491},{131,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,93}}</string>
                <key>sourceSize</key>
                <string>{131,93}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,222},{132,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,94}}</string>
                <key>sourceSize</key>
                <string>{132,94}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,935},{127,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,53}}</string>
                <key>sourceSize</key>
                <string>{127,53}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,624},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,935},{39,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,54}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,720},{38,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,57}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,704},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,624},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,856},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,422},{162,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,31}}</string>
                <key>sourceSize</key>
                <string>{162,33}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,422},{177,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,34}}</string>
                <key>sourceSize</key>
                <string>{177,34}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,356},{133,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,93}}</string>
                <key>sourceSize</key>
                <string>{133,93}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,784},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,933},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,918},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,59}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,664},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,784},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{54,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>welcome.png</string>
            <key>size</key>
            <string>{745,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7f9f18d0a05c0565bfebefba9fd3f04$</string>
            <key>textureFileName</key>
            <string>welcome.png</string>
        </dict>
    </dict>
</plist>
